<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de FHIR Servers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/form-styles.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div th:replace="layout/topnav :: topnav"></div>
	<div class="container">
		<div th:replace="layout/header :: header('Servidores FHIR y Subscripciones','Administración de Servidores FHIR')"></div>
		<div class="d-flex justify-content-between align-items-center">
			<h2>Servidores FHIR</h2>
			<button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalFhirServer">Agregar servidor</button>
		</div>
	    <table class="table">
	        <thead>
	            <tr>
					<th>Nombre</th>
	                <th>URL</th>
					<th>Heartbeat</th>
					<th>Operaciones Especiales ($status y $events)</th>
	                <th>Acciones</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr th:each="fhirServer : ${fhirServers}">
					<td th:text="${fhirServer.name}"></td>
	                <td th:text="${fhirServer.url}"></td>
					<td th:text="${fhirServer.heartbeat ? 'Sí' : 'No'}"></td>
		            <td th:text="${fhirServer.queryOperations ? 'Sí' : 'No'}"></td>
	                <td>
						<a class="btn btn-info" th:href="@{/fhir/servers/{id}/subscriptions(id=${fhirServer.id})}"
							 title="Configuración de Subscripciones">
								<i class="fas fa-cog"></i>
						</a>
						<button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalFhirServer" 
							th:attr="data-id=${fhirServer.id},data-name=${fhirServer.name},data-url=${fhirServer.url},
							data-heartbeat=${fhirServer.heartbeat},data-query=${fhirServer.queryOperations}" title="Editar Servidor">
								<i class="fas fa-edit"></i>
						</button>
						<form th:action="@{/fhir/servers/{idServer}/delete(idServer=${fhirServer.id})}" method="post" 
							th:id="'deleteServerForm-' + ${fhirServer.id}" style="display:inline;">
	                        	<button type="button" class="btn btn-danger" title="Eliminar Subscripción"
									th:onclick="'messageConfirm(\'¿Estás seguro de que quieres eliminar este servidor?\', \'deleteServerForm-' + ${fhirServer.id} + '\')'">
										<i class="fas fa-trash-alt"></i>
								</button>
                        </form>
	                </td>
	            </tr>
	        </tbody>
	    </table>
	</div>
	
	<!-- Modal para crear un servidor FHIR  -->
	<div class="modal fade" id="modalFhirServer" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <form th:action="@{/fhir/servers}" method="post">
	                <div class="modal-header">
	                    <h5 class="modal-title" id="modalLabel">Agregar servidor FHIR</h5>
	                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                        <span aria-hidden="true">&times;</span>
	                    </button>
	                </div>
	                <div class="modal-body">
						<input type="hidden" id="id" name="id">
	                    <div class="form-group">
	                        <label for="name">Nombre:</label>
	                        <input type="text" class="form-control" id="name" name="name" required>
	                    </div>
						<div class="form-group">
						    <label for="url">URL:</label>
						    <input type="text" class="form-control" id="url" name="url" required>
						</div>
						<div class="form-group form-check">
	                        <input type="checkbox" class="form-check-input" id="heartbeat" name="heartbeat" value="true">
	                        <label class="form-check-label" for="heartbeat">Heartbeat</label>
	                    </div>
	                    <div class="form-group form-check">
							<input type="checkbox" class="form-check-input" id="queryOperations" name="queryOperations" value="true">
	                        <label class="form-check-label" for="queryOperations">Operaciones Especiales ($status y $events)</label>
	                    </div>
	                </div>
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
	                    <button type="submit" class="btn btn-primary">Guardar</button>
	                </div>
	            </form>
	        </div>
	    </div>
	</div>
	
	<script>
		$('#modalFhirServer').on('show.bs.modal', function (event) {
	        var button = $(event.relatedTarget);
	        var id = button.data('id');
			var name = button.data('name');
			var url = button.data('url');
			var heartbeat = button.data('heartbeat');
			var query = button.data('query');

	        var modal = $(this);
	        modal.find('#id').val(id);
			modal.find('#name').val(name);
			modal.find('#url').val(url);
			modal.find('#heartbeat').prop('checked', heartbeat === true || heartbeat === 'true');
			modal.find('#queryOperations').prop('checked', query === true || query === 'true');
	    });

		function messageConfirm(message, formId) {
			if (confirm(message)) {
				const form = document.getElementById(formId);
				form.submit();
			}
		}
	</script>

</body>
</html>