<div th:fragment="content">
	<div class="d-flex align-items-center">
		<h2>SubscriptionTopic</h2>
	    <button class="btn btn-info ml-3" type="button" data-toggle="collapse" data-target="#topicsTable" aria-expanded="false" aria-controls="topicsTable">
	        <i id="topicIcon" class="fas fa-eye-slash"></i>
	    </button>
	</div>
    <div id="topicsTable" class="collapse show">
        <table th:if="${not #lists.isEmpty(subscriptionTopics)}" class="table">
            <thead>
                <tr>
					<th>ID</th>
                    <th>Nombre</th>
					<th>Recurso</th>
					<th>Interacción</th>
					<th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="topic : ${subscriptionTopics}">
					<td th:text="${topic.id}"></td>
                    <td th:text="${topic.name}"></td>
					<td th:text="${topic.resource}"></td>
					<td th:text="${topic.interaction}"></td>
                    <td>
						<form th:action="@{/fhir/servers/{id}/subscriptions/form(id=${fhirServer.id})}" method="post">
							<input type="hidden" id="idTopic" name="idTopic" th:value="${topic.id}" />
							<button type="submit" class="btn btn-info">Subscribirse</button>
						</form>
					</td>
                </tr>
            </tbody>
        </table>
		<p th:if="${#lists.isEmpty(subscriptionTopics)}">No hay topics disponibles</p>
    </div>
	
	<!-- Cambio de icono -->
    <script>
        $('#topicsTable').on('show.bs.collapse', function () {
            $('#topicIcon').removeClass('fa-eye').addClass('fa-eye-slash');
        });

        $('#topicsTable').on('hide.bs.collapse', function () {
            $('#topicIcon').removeClass('fa-eye-slash').addClass('fa-eye');
        });
    </script>
	
</div>
