    <div th:fragment="content">
		<div class="d-flex align-items-center mt-3">
			<h2>Subscriptions</h2>
			<button class="btn btn-info ml-3" type="button" data-toggle="collapse" data-target="#subscriptionsTable" aria-expanded="false" aria-controls="subscriptionsTable">
			    <i id="subscriptionsIcon" class="fas fa-eye-slash"></i>
			</button>
		</div>
        <div id="subscriptionsTable" class="collapse show">
            <table class="table">
                <thead>
                    <tr>
						<th>ID</th>
                        <th>Endpoint</th>
                        <th>Topic</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="subscription : ${subscriptions}">
						<td th:text="${subscription.id}"></td>
                        <td th:text="${subscription.endpoint}"></td>
                        <td th:text="${subscription.topic}"></td>
                        <td>
                            <form th:action="@{/fhir/servers/{idServer}/subscriptions/{idSubs}/delete(idServer=${fhirServer.id},idSubs=${subscription.id})}"
								method="post" th:id="'deleteSubscriptionForm-' + ${subscription.id}" style="display:inline;">
                                	<button type="button" class="btn btn-danger" title="Eliminar Subscripción"
										th:attr="onclick='messageConfirm(\'¿Estás seguro de que quieres eliminar esta subscripción?\', \'deleteSubscriptionForm-' + ${subscription.id} + '\')'">
											<i class="fas fa-trash-alt"></i>
									</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
		
		<!-- Cambio de icono -->
	    <script>
	        $('#subscriptionsTable').on('show.bs.collapse', function () {
	            $('#subscriptionsIcon').removeClass('fa-eye').addClass('fa-eye-slash');
	        });

	        $('#subscriptionsTable').on('hide.bs.collapse', function () {
	            $('#subscriptionsIcon').removeClass('fa-eye-slash').addClass('fa-eye');
	        });
			
			function messageConfirm(message, formId) {
				if (confirm(message)) {
					const form = document.getElementById(formId);
					form.submit();
				}
			}
	    </script>
    </div>
