    <div th:fragment="content">
		<div class="d-flex align-items-center mt-3">
			<h2>Subscriptions</h2>
			<button class="btn btn-info ml-3" type="button" data-toggle="collapse" data-target="#subscriptionsTable" aria-expanded="false" aria-controls="subscriptionsTable">
			    <i id="subscriptionsIcon" class="fas fa-eye-slash"></i>
			</button>
		</div>
        <div id="subscriptionsTable" class="collapse show">
            <table class="table mt-3">
                <thead>
                    <tr>
						<th>ID</th>
                        <th>Endpoint</th>
                        <th>Topic</th>
                        <th>Filters</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="subscription : ${subscriptions}">
						<td th:text="${subscription.id}"></td>
                        <td th:text="${subscription.endpoint}"></td>
                        <td th:text="${subscription.topic}"></td>
                        <td>
                            <ul>
                                <li th:each="filter : ${subscription.filters}">
                                    <span th:text="'Parameter: ' + ${filter.filterParameter}"></span>
                                    <span th:if="${filter.comparator != null}" th:text="', Comparator: ' + ${filter.comparator}"></span>
                                    <span th:if="${filter.modifier != null}" th:text="', Modifier: ' + ${filter.modifier}"></span>
                                    <span th:text="', Value: ' + ${filter.value}"></span>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <form th:action="@{/delete-subscription}" method="post">
                                <input type="hidden" name="subscriptionId" th:value="${subscription.id}">
                                <input type="hidden" name="urlServer" th:value="${urlServer}">
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
		
		<!-- Cambio de icono -->
	    <script>
	        $('#subscriptionsTable').on('show.bs.collapse', function () {
	            $('#subscriptionsIcon').removeClass('fa-eye').addClass('fa-eye-slash');
	        });

	        $('#subscriptionsTable').on('hide.bs.collapse', function () {
	            $('#subscriptionsIcon').removeClass('fa-eye-slash').addClass('fa-eye');
	        });
	    </script>
    </div>
