<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Envío de notificaciones</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" th:href="@{/form-styles.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
<div th:replace="layout/topnav :: topnav"></div>
<div class="container">
	<div th:replace="layout/header :: header('Eventos','Administración de Eventos')"></div>
    <h2>Envío de notificaciones</h2>
    <p>Subscripción: <span th:text="${idSubscription}"></span></p>
	<p>Recurso: <span th:text="${resource}"></span></p>
	<p>Operación: <span th:text="${operation}"></span></p>

    <form th:action="@{/subscriptions/{id}/events/add(id=${idSubscription})}" method="post" th:object="${events}">
		<h4>Notificaciones</h4>
		<table class="table mb-3">
            <thead>
                <tr>
					<th>ID Subscripción</th>
					<th>ID Evento</th>
                    <th>ID Recurso</th>
                </tr>
            </thead>
            <tbody>
			<tr th:each="event, iterStat : *{events}">
				<td>
				    <input type="number" th:field="*{events[__${iterStat.index}__].idSubscription}" class="form-control" readonly />
				</td>
				<td>
				    <input type="number" th:field="*{events[__${iterStat.index}__].idEvent}" class="form-control" readonly />
				</td>
                <td>
                    <input type="number" th:field="*{events[__${iterStat.index}__].idResource}" class="form-control" required />
                </td>
			</tr>
            </tbody>
        </table>

        <button class="btn btn-primary" type="submit">Notificar</button>
		<a class="btn btn-danger" th:href="@{/subscriptions/{id}/events(id=${idSubscription})}">Cancelar</a>
    </form>
</div>
</body>
</html>
